@media screen  and (min-width: 375px){
    section{
        border: 2px solid #BFB4AA;
    }
}

@media screen and (min-width: 601px) and (max-width: 1024px){
    section{
        width: 30em;
        height: 20em;
    }

    h2{
        font-size: 3.5em;
    }
}