*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white
}

@keyframes aumentarBotao {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.2);
    }
}

@keyframes aumentarBotao2 {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.2);
    }
}


body{
    background-image: url(images/pexels-matheus-oliveira-10966532.jpg);
    background-size: cover;
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

h1{
    font-size: 2.5em;
}

.PecaAgora{
    display: block;
    padding: 1em;
    color: white;
    border: 2px solid #BFB4AA;
    border-radius: 10px;
    text-decoration: none;
}

.PecaAgora:hover{

    animation-name: aumentarBotao;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

section{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    
    border-radius: 20px;
    width: 15em;
    padding: 1em;
}

p{
    margin-bottom: 30px;
}

h2{
    font-size: 2em;
}

section > a{
    display: block;
    margin-top: 40px;
    background-color: #BFB4AA;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
    width: 90px;
    text-align: center;

}

section > a:hover{
    animation-name: aumentarBotao;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

