*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body{
    background-image: url(../images/pexels-matheus-oliveira-10966532.jpg);
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.container{
    height: 65%;
    position: relative;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

h1{
    color:white ;
    font-size: 3em;
}

.pecaAgora{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 1em;
    transition: transform 0.3s ease-in-out;
}

.pecaAgora:hover{
    cursor: pointer;
    transform: scale(1.1);
}

section{
    border: 2px solid #BFB4AA;
    border-radius: 10px;
    padding: 2em;
    margin-top: 30px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section > p{
    color: #BFB4AA;
    font-weight: bolder;
}

h2{
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 2em;
}

.comprar{
    background-color: #00060da1;
    border: 1px solid #8C8279;
    border-radius: 5px;
    padding: 1em;
    transition: transform 0.3s ease-in-out;
}

.comprar:hover{
    cursor: pointer;
    transform: scale(1.1);
}

menu{
    height: 10vh;
}

footer{
    display: block;
    height: 35vh;
    background-color: #00060d6a;
    text-align: center;
}

footer > img{
    padding-top: 5px;
}


p{
    display: block;
}

.credito{
    font-weight: bolder;
    color: red;
}

.credito > a{
    color: yellow;
    text-decoration: none;
}